---
import Layout from "../layouts/Layout.astro";
import GlossaryShowcase from "../components/GlossaryShowcase.astro";
---

<Layout title="Glossary - Irish Myths">
  <div class="shadow-[0_18px_35px_-28px_rgba(0,0,0,0.45)]">
    <GlossaryShowcase />
  </div>
</Layout>