---
import Layout from "../layouts/Layout.astro";
import MythShowcase from "../components/MythShowcase.astro";
---

<Layout title="Irish Myths & Legends">
  <div class="shadow-[0_18px_35px_-28px_rgba(0,0,0,0.45)]">
    <MythShowcase />
  </div>
</Layout>