---
import Layout from "../layouts/Layout.astro";
import TeamShowcase from "../components/TeamShowcase.astro";
---

<Layout title="Meet the Team">
  <div class="shadow-[0_18px_35px_-28px_rgba(0,0,0,0.45)]">
    <TeamShowcase />
  </div>
</Layout>